.MachineNode {
  display: flex;
}

.block {
  display: flex;
  border-radius: 10%;
  width: 3rem;
  height: 3rem;
  background: rgb(255, 255, 255);
}

.block.unselected {
  border: 0.1rem solid rgb(0, 0, 0);
  margin: 0.1rem;
}
.block.selected {
  border: 0.15rem solid rgb(80, 204, 80);
  margin: 0.05rem;
}

.block:active {
  width: 2.9rem;
  height: 2.9rem;
}

.block:hover {
  background: rgb(218, 216, 216);
}

.down {
  transform: rotate(0deg);
}

.left {
  transform: rotate(90deg);
}

.up {
  transform: rotate(180deg);
}

.right {
  transform: rotate(270deg);
}
