.machineTypesContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.machineTypesElement {
  height: 3rem;
  width: 3rem;
  margin: 0.2rem;
  padding: 0.2rem;
}

.machineTypesHeader {
  display: flex;
  text-align: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 1rem;
  color: rgb(233, 124, 52);
  font-weight: bold;
}

.machineTypesMainContainer {
  /* border: 2px solid rgb(73, 78, 78); */
  background-color: rgb(73, 78, 78);
}
