.myContainer {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0.2rem;
  border: 2rem solid rgb(255, 255, 255);
}

.myTitle {
  color: darkorange;
  display: flex;
  justify-content: space-around;
}

.myMainContainer {
  border: 0.01rem solid rgb(73, 78, 78);
}
