.myContainer {
  width: 8rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: 'row';
  justify-content: space-around;
  padding: 5px;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
}

.myTitle {
  color: darkorange;
  justify-content: space-around;
}

.Header {
  display: flex;
  text-align: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 1rem;
  color: rgb(233, 124, 52);
  font-weight: bold;
}
