.FactoryGrid {
  display: flex;
  align-content: center;
  flex-direction: column;
  align-items: center;
}

.FactoryRow {
  display: flex;
  flex-direction: row;
}

.Node {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Material {
  width: 0.8rem;
  height: 0.8rem;
}

.MaterialSpan {
  position: absolute;
}
