.home-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #243646;
}

.home-title {
  color: white;
}

.new-game-button {
  margin-top: 1rem !important;
}

.home-margin {
  margin: 1vw 0vh;
}

.home-table {
  background-color: white;
}

.buttons {
  display: flex !important;
  justify-content: space-around;
  flex-direction: row;
}
